.top-container {
  min-height: 100%;
  width: 100%;
  position: absolute;
  padding-top: 1.5rem;
}

.top-header-container {
  padding: 1rem;
  background-color: var(--highlight);;
  border-bottom-right-radius: 1.5rem;
}