.top-container {
  min-height: 100%;
  width: 100%;
  position: absolute;
  padding-top: 1.5rem;
}

.top-header-container {
  padding: 0.7rem;
  border-bottom-right-radius: 1.5rem;
  background-image: radial-gradient(
    circle,
    var(--highlightlight),
    var(--highlight)
  );
  box-shadow: 4px 8px 16px #000000;
}

.top-title {
  text-transform: uppercase;
}

.top-list {
  list-style-type: none;
  padding: 0;
}

.top-list li {
  padding: 1rem;
  margin: 1rem;
  background-color: var(--palebg);
  box-shadow: 0px 1px 1px #000000 inset;
  color: white;
}
