.top-container {
  min-height: 100%;
  width: 100%;
  position: absolute;
  padding-top: 1.5rem;
}

.top-header-container {
  padding: 0.3rem;
  background-color: #2f4e6b;
  box-shadow: 0px 1px 4px #000000;
}

.top-title {
  text-transform: uppercase;
  margin: 0;
}

.top-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.top-list li {
  padding: 1rem;
  margin: 1rem;
  background-color: var(--palebg);
  color: var(--pageink);
  flex: 1 0;
  position: relative;
  transition: all 0.3s;
  border-radius: 0.2rem;
  box-shadow: 0px 1px 15px #0d0a2b;
  cursor: pointer;
}

.top-list li:hover {
  transform: translateY(-4px);
}

.top-movie-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.top-movie-image {
  height: 200px;
}

.top-movie-title {
}

.top-movie-year {
  color: var(--pageinksoft);
  font-size: 0.7rem;
}
