.intro-container {
  position: relative;
  height: 100%;
  width: 100%;
}

img {
  width: 100%;
  height: 99%;
  object-fit: cover;
}

.main-text-container {
  position: absolute;
  top: 1rem;
  width: 100%;
}

h1 {
  color: white;
  width: calc(100% - 2rem);
  margin: 0 1rem;
}

.explore-button {
  transform: translateX(-50%);
  left: 50%;
  margin-top: 1rem;
  -webkit-appearance: button;
  cursor: pointer;
  position: relative;
  z-index: 1;
  background: none;
  display: block;
  padding: 1em 2em;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 3px solid;
  color: #fff;
}

.explore-button::before {
  transition: transform 0.4s, opacity 0.4s;
  transform: scale3d(0.7, 1, 1);
  z-index: -1;
  opacity: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7986CB;
}

.explore-button, .explore-button::before {
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.explore-button:hover {
  color: #fff;
  border-color: #fff;
}

.explore-button:hover::before {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@media screen and (min-width: 1200px) {
  h4 {
    top: 3rem;
  }
}