.intro-container {
  position: relative;
  height: 100%;
  width: 100%;
}

img {
  width: 100%;
  height: 99%;
  object-fit: cover;
}

.main-text-container {
  position: absolute;
  top: 1rem;
  width: 100%;
}

h1 {
  color: white;
  width: calc(100% - 2rem);
  margin: 0 1rem;
}

.explore-button {
  color: white;
  margin-top: 1rem;
  display: inline-block;
}

@media screen and (min-width: 1200px) {
  h4 {
    top: 3rem;
  }
}