.page-template {
  position: relative;
  background-color: var(--pagebg);
  color: var(--pageink);
}
  
.page-container {
  position: relative;
  text-align: center;
  height: calc(100vh - 2.5rem);
}