:root {
  --bigger-font-size: 1.2em;
  --biggest-font-size: 1.2em;
  --smaller-font-size: 0.8em;

  /*--pagebg: #0c0c0c;*/
  --pageink: #ffffff;
  --highlight: #841030;
  --highlightlight: #b50d3b;
  --linkink: #8fc9d2;
  --bg: #1a1555;
  --palebg: #3b3567;
}

html {
  font-size: 16px;
}

@media (min-width: 30em) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 50em) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 70em) {
  html {
    font-size: 19px;
  }
}

@media (min-width: 90em) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;

  letter-spacing: 3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
}

button {
  font-family: inherit;
}

h1 {
  font-size: 1.2rem;
}

.fade-appear .fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active .fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 600ms linear 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}

@media screen and (min-width: 1200px) {
  :root {
    --base-font-size: calc(
      (16px + (24 - 16) * (100vw - 400px) / (800 - 400)) * 0.7
    );
  }
}
